body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background: linear-gradient(to right, rgb(201, 7, 201), pink);
  color: white;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

#registration-form {
  margin-bottom: 30px;
}

input[type="text"] {
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  width: 90%;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  background-color: white;
  color: rgb(201, 7, 201);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 5px; /* Pridedame atstumą tarp mygtukų */
}

button:hover {
  background-color: rgb(201, 7, 201);
  color: white;
}

#search-section {
  margin-top: 30px;
}

#category-buttons {
  margin-top: 10px;
}

.category-button {
  padding: 10px 15px;
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(201, 7, 201);
  border: none;
  border-radius: 5px;
}

#book-section {
  margin-top: 30px;
  text-align: left;
}

.book-item {
  margin: 10px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

.book-item img {
  width: 100px; /* Paveiksliuko plotis */
  height: auto;
} /* Paveiksliuko aukštis bus nustatomas automatiškai */
#back-button {
  margin-top: 20px;
  background-color: white;
  color: rgb(201, 7, 201);
}
